html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
}

/* 
 * Styles for InfoWindow 
 */
#popup {
  margin: 0 auto;
}

#popup img {
  display: block;
  margin: auto;
}

/*
 * Styles for the Sidebar
 */

#sidebarButton {
  position: absolute;
  top: 100px;
  left: 0px;
  margin: 0 0.5em;
  padding: 0.5em;
  color: #0c2448;
  background: #5ebbf1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

#sidebarButton:hover,
#sidebarButton:focus {
  background: #6cd86c;
  outline: 1px solid #0c2448;
}

#sidebar {
  height: 100%;
  width: 0;
  max-width: 600px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #fff;
  color: #0c2448;
  overflow-x: hidden;
  padding: 0;
  transition: 0.6s; /* transition effect to slide in the sidebar */
}

#sidebar a:link,
#sidebar a:active,
#sidebar a:visited {
  color: #0c2448;
}

#sidebar a:hover {
  color: #6cd86c;
}

#content {
  padding: 0 20px 20px;
}

#trail-list-dynamic {
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

#trail-list-dynamic li {
  border-bottom: 2px solid #fff;
  font-family: Arial, sans-serif;
  margin: 15px 0;
  padding: 0 0 10px;
  text-align: left;
  width: 100%;
  color: #0c2448;  
}

.trail-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #6cd86c;
  cursor: pointer;
  border-radius: 6px;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.trail-item:hover,
.trail-item:focus {
  background: #5ebbf1;
}

.trail-img {
  width: 100%;
  margin: 10px;
}

.trail-img img {
  height: auto;
}

.trail-details {
  width: 100%;
  margin: 10px;
}

.trail-details h3 {
  text-decoration: underline;
}

#backButton {
  margin: 1em;
  padding: 0.5em;
  background: #5ebbf1;
  color: #0c2448;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

#backButton:hover,
#backButton:focus {
  background: #6cd86c;
  outline: 1px solid #0c2448;
}

/* Offline Elements */

#offline-message {
  position: absolute;
  top: 20px;
  left: 0px;
  margin: 0 0.5em;
  padding: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
}
